Spotted/Spotted/Web References/com.royalmail.epro.www1/eproexport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:schemas-royalmail-com/webservice/epro" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:schemas-royalmail-com/webservice/epro" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:schemas-royalmail-com/webservice/epro">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ExportList" type="tns:ArrayOfExport" />
      <s:complexType name="ArrayOfExport">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Export" type="tns:Export" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Export">
        <s:attribute name="Reference" type="s1:guid" use="required" />
        <s:attribute name="Name" type="s:string" />
        <s:attribute name="Description" type="s:string" />
      </s:complexType>
      <s:element name="Authentication" type="tns:Authentication" />
      <s:complexType name="Authentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ClientAuthentication" type="tns:ClientAuthentication" />
      <s:complexType name="ClientAuthentication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenerateExportRequest" type="tns:GenerateExportInput" />
      <s:complexType name="GenerateExportInput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ExportReference" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="OutputType" type="tns:ExportOutputTypes" />
          <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="tns:ArrayOfChoice1" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ExportOutputTypes">
        <s:restriction base="s:string">
          <s:enumeration value="xml" />
          <s:enumeration value="html" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfChoice1">
        <s:choice minOccurs="0" maxOccurs="unbounded">
          <s:element minOccurs="0" maxOccurs="1" name="DateParameter" type="tns:DateParameter" />
          <s:element minOccurs="0" maxOccurs="1" name="SingleSelectParameter" type="tns:SingleSelectParameter" />
          <s:element minOccurs="0" maxOccurs="1" name="BooleanParameter" type="tns:BooleanParameter" />
          <s:element minOccurs="0" maxOccurs="1" name="MultiSelectParameter" type="tns:MultiSelectParameter" />
          <s:element minOccurs="0" maxOccurs="1" name="DateTimeParameter" type="tns:DateTimeParameter" />
          <s:element minOccurs="0" maxOccurs="1" name="TextParameter" type="tns:TextParameter" />
        </s:choice>
      </s:complexType>
      <s:complexType name="DateParameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:ExportParameter">
            <s:attribute name="Value" type="s:date" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ExportParameter" abstract="true">
        <s:attribute name="Name" type="s:string" />
      </s:complexType>
      <s:complexType name="SingleSelectParameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:ExportParameter">
            <s:attribute name="Value" type="s:string" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MultiSelectParameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:ExportParameter">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DateTimeParameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:ExportParameter">
            <s:attribute name="Value" type="s:dateTime" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BooleanParameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:ExportParameter">
            <s:attribute name="Value" type="s:boolean" use="required" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TextParameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:ExportParameter">
            <s:attribute name="Value" type="s:string" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GenerateExportResult" type="tns:GenerateExportOutput" />
      <s:complexType name="GenerateExportOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExportData">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any maxOccurs="unbounded" />
              </s:sequence>
              <s:anyAttribute />
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="ExtraParametersRequired" type="tns:ArrayOfRequiredParameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRequiredParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RequiredParameter" type="tns:RequiredParameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequiredParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PossibleValues" type="tns:ArrayOfPossibleValue" />
        </s:sequence>
        <s:attribute name="Name" type="s:string" />
        <s:attribute name="DisplayName" type="s:string" />
        <s:attribute name="ParameterType" type="tns:ParameterTypes" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfPossibleValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PossibleValue" type="tns:PossibleValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PossibleValue">
        <s:attribute name="Value" type="s:string" />
        <s:attribute name="Description" type="s:string" />
      </s:complexType>
      <s:simpleType name="ParameterTypes">
        <s:restriction base="s:string">
          <s:enumeration value="DateParameter" />
          <s:enumeration value="DateTimeParameter" />
          <s:enumeration value="TextParameter" />
          <s:enumeration value="MultiSelectParameter" />
          <s:enumeration value="SingleSelectParameter" />
          <s:enumeration value="BooleanParameter" />
          <s:enumeration value="DirectValueParameter" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetExportListSoapIn" />
  <wsdl:message name="GetExportListSoapOut">
    <wsdl:part name="GetExportListResult" element="tns:ExportList" />
  </wsdl:message>
  <wsdl:message name="GetExportListAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GetExportListClientAuthentication">
    <wsdl:part name="ClientAuthentication" element="tns:ClientAuthentication" />
  </wsdl:message>
  <wsdl:message name="GenerateExportSoapIn">
    <wsdl:part name="input" element="tns:GenerateExportRequest" />
  </wsdl:message>
  <wsdl:message name="GenerateExportSoapOut">
    <wsdl:part name="GenerateExportResult" element="tns:GenerateExportResult" />
  </wsdl:message>
  <wsdl:message name="GenerateExportAuthentication">
    <wsdl:part name="Authentication" element="tns:Authentication" />
  </wsdl:message>
  <wsdl:message name="GenerateExportClientAuthentication">
    <wsdl:part name="ClientAuthentication" element="tns:ClientAuthentication" />
  </wsdl:message>
  <wsdl:portType name="EProExportServiceSoap">
    <wsdl:operation name="GetExportList">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns a list of available Exports</documentation>
      <wsdl:input message="tns:GetExportListSoapIn" />
      <wsdl:output message="tns:GetExportListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateExport">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Returns the results after executing the Export.</documentation>
      <wsdl:input message="tns:GenerateExportSoapIn" />
      <wsdl:output message="tns:GenerateExportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EProExportServiceSoap" type="tns:EProExportServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExportList">
      <soap:operation soapAction="urn:schemas-royalmail-com/webservice/epro/GetExportList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetExportListAuthentication" part="Authentication" use="literal" />
        <soap:header message="tns:GetExportListClientAuthentication" part="ClientAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateExport">
      <soap:operation soapAction="urn:schemas-royalmail-com/webservice/epro/GenerateExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GenerateExportAuthentication" part="Authentication" use="literal" />
        <soap:header message="tns:GenerateExportClientAuthentication" part="ClientAuthentication" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EProExportService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Provides access to EPro Exports/Reports.</documentation>
    <wsdl:port name="EProExportServiceSoap" binding="tns:EProExportServiceSoap">
      <soap:address location="http://www.epro.royalmail.com/webservices/export/eproexport.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
