Bobs/Web References/com.dontstayin.hoth/phone.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hoth.dontstayin.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://hoth.dontstayin.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://hoth.dontstayin.com/">
      <s:element name="MakeCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PhoneIpAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakeCallResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MakeCallSoapIn">
    <wsdl:part name="parameters" element="tns:MakeCall" />
  </wsdl:message>
  <wsdl:message name="MakeCallSoapOut">
    <wsdl:part name="parameters" element="tns:MakeCallResponse" />
  </wsdl:message>
  <wsdl:portType name="PhoneSoap">
    <wsdl:operation name="MakeCall">
      <wsdl:input message="tns:MakeCallSoapIn" />
      <wsdl:output message="tns:MakeCallSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PhoneSoap" type="tns:PhoneSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeCall">
      <soap:operation soapAction="http://hoth.dontstayin.com/MakeCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PhoneSoap12" type="tns:PhoneSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeCall">
      <soap12:operation soapAction="http://hoth.dontstayin.com/MakeCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Phone">
    <wsdl:port name="PhoneSoap" binding="tns:PhoneSoap">
      <soap:address location="http://hoth.dontstayin.com/phones/phone.asmx" />
    </wsdl:port>
    <wsdl:port name="PhoneSoap12" binding="tns:PhoneSoap12">
      <soap12:address location="http://hoth.dontstayin.com/phones/phone.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
